/******* BASIC STYLES *******/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	/*background-color: #FFF;*/
	font-size: 0.9em;
	display: flex;
	justify-content: left;
}

ul {
	list-style-type: none;
}

button {
  width: 90px;
  height: 30px;
  font-size: 0.8em;
	color: #FFF;
	cursor: pointer;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

input,
textarea {
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 3px;
	font-size: 0.8em;
}

p {
	font-size: 0.9em;
}

hr {
	margin: 0 10px;
}

/* new css */
/*$aqua: #7FDBFF;
$olive: #3D9970;
$maroon: #85144b;
$navy: #001f3f;
$silver: #DDDDDD;
$gray: #AAA;
$orange: #FF851B;*/


/******* MAIN STYLES *******/



.App {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.icon {
	width: 100px;

	margin: 0px 40px;

}
.headline {
	font-size: 1.4em;
	font-weight: bold;
}

.App-header {
	margin: 0px 40px;
}

.IndexView {
  min-width: 600px;
  width: 100%;
  
  display: flex;
  flex-direction: column;

}

.IndexView ul {
	padding: 0;
}

.review-listing {
	
	border-radius: 5px;
	margin: 10px 40px;
	padding: -10px;
	width: 60%;
}



.review-details {
	

  width: 90%;
	color: #000;
  background-color: #FFF;
	margin: 3px auto;
	padding: 10px 0;
}




.review-details h3 {
  padding-top: 2%;
  margin: 3px;
}

.review-details ul {
	width: 75%;
	margin: 10px auto;
  /*margin: 0px 0px;*/
  /*padding: 5%;*/
  background-color: #FFF;
	border-radius: 7px;
}

.review-details ul li {
	/*margin-top: 0px;
	margin-bottom: 0px;*/
	margin: 0 auto;
	padding: 0px;
	border-bottom: 1px solid #DDD;
	/*background-color: #3D9970;*/
	/*width: 80%;*/
}

.review-details ul li:last-child {
	border-bottom: none;
}

.details-footer {
	margin: 10px 0;
}









